src/main/resources/no/schibsted/xml/from/client/client.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://www.invoice.com/Invoice" 
    targetNamespace="http://www.invoice.com/Invoice" 
    elementFormDefault="qualified">

<xs:element name="INVOICE" type="invoiceType"/>
<xs:complexType name="invoiceType">
  <xs:sequence>
    <xs:element name="SUPPLIER" type="xs:string"/>
    <xs:element name="SUPPLIER_EMAIL" type="xs:string"/>
    <xs:element name="BUYER" type="xs:string"/>
    <xs:element name="BUYER_EMAIL" type="xs:string"/>
  </xs:sequence>
</xs:complexType>

</xs:schema>